<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rjfun.jumprope" version="1.0.20140630" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JumpRope</name>
    <description>
Jumping rope is cheap, portable, and burns more calories than you might think, try this mobile app
    </description>
    <author email="rjfun.mobile@gmail.com" href="http://rjfun.com/jumprope/">
        RjFun
    </author>
    <content src="index.html" />
    <access origin="*" />

<gap:plugin name="com.rjfun.cordova.plugin.lowlatencyaudio"/>
<gap:plugin name="com.rjfun.cordova.plugin.iad"/>
<gap:plugin name="nl.x-services.plugins.socialsharing"/>
<gap:plugin name="org.apache.cordova.device-motion"/>
<gap:plugin name="org.apache.cordova.dialogs"/>
<gap:plugin name="org.apache.cordova.vibration"/>

</widget>
