<?xml version='1.0' encoding='utf-8'?>
<widget 
id="com.rjfun.jumprope" 
version="1.0.20140630" 
xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
>
    <name>JumpRope</name>
    
    <description>
Jumping rope is cheap, portable, and burns more calories than you might think, try this mobile app
    </description>
    <author email="rjfun.mobile@gmail.com" href="http://rjfun.com/jumprope/">
        RjFun
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="permissions" value="none"/>

    <gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io" />
    <gap:plugin name="com.rjfun.cordova.plugin.lowlatencyaudio" source="plugins.cordova.io" />
    <gap:plugin name="nl.x-services.plugins.socialsharing" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.device-motion" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.dialogs" source="plugins.cordova.io" />
    <gap:plugin name="org.apache.cordova.vibration" source="plugins.cordova.io" />

    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="portrait" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="handset" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="false" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->

    <icon src="res/icon/icon.png" />
    <icon src="res/icon/android/icon-36.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/winphone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/winphone/icon-173.png" gap:platform="winphone"   gap:role="background" />
    
    <gap:splash src="res/screen/android/screen-ldpi-portrait.png"       gap:platform="android" gap:qualifier="port-ldpi" />
    <gap:splash src="res/screen/android/screen-mdpi-portrait.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/screen/android/screen-hdpi-portrait.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="res/screen/android/screen-xhdpi-portrait.png"      gap:platform="android" gap:qualifier="port-xhdpi" />
    <gap:splash src="res/screen/ios/iphone.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/iphone-2x.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/iphone-568h-2x.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/ios/ipad.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/winphone/480x800.jpg"      gap:platform="winphone" />
    
</widget>
