<?xml version='1.0' encoding='utf-8'?>
<widget 
id="com.rjfun.jumprope" 
version="1.0.20140630" 
xmlns="http://www.w3.org/ns/widgets"
xmlns:gap="http://phonegap.com/ns/1.0"
>
    <name>JumpRope</name>
    
    <description>
Jumping rope is cheap, portable, and burns more calories than you might think, try this mobile app
    </description>
    <author email="rjfun.mobile@gmail.com" href="http://rjfun.com/jumprope/">
        RjFun
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="permissions" value="none"/>

    <gap:plugin name="com.rjfun.cordova.plugin.lowlatencyaudio"/>
    <gap:plugin name="com.rjfun.cordova.plugin.iad"/>
    <gap:plugin name="nl.x-services.plugins.socialsharing"/>
    <gap:plugin name="org.apache.cordova.device-motion"/>
    <gap:plugin name="org.apache.cordova.dialogs"/>
    <gap:plugin name="org.apache.cordova.vibration"/>

    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />
    
</widget>
