@font-face {
  font-family: 'Joti One';
  font-style: normal;
  font-weight: 400;
  src: local('Joti One'), local('JotiOne-Regular'), url(lib/jotione.woff) format('woff');
}

@font-face {
  font-family: 'Combo';
  font-style: normal;
  font-weight: 400;
  src: local('Combo'), local('Combo-Regular'), url(lib/combov1.woff) format('woff');
}

* {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
}
div, table, td, p, span, button, img {
	-webkit-user-select: none;
}
*::selection {
    background:transparent;
}

*::-moz-selection {
    background:transparent;
}

*::-webkit-selection {
    background:transparent;
}
*::-webkit-scrollbar { 
    display: none; 
}

html, body, div.page, table {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: serif, Arial;
}

html, body, div, canvas {
	margin: 0;
	padding: 0;
}

.m {
	text-align: center;
	vertical-align: middle;
}

.l {
	text-align: left;
}

.r {
	text-align: right;
}

.t {
	vertical-align: top;
}

.b {
	vertical-align: bottom;
}

.visible {
	display: block;
}

.invisible {
	display: none;
}

.round {
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.shadow {
	-webkit-box-shadow:5px 5px 10px black;
	-moz-box-shadow:5px 5px 10px black;	
}

.clickable {
	cursor:pointer;
}

.full {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
}

.draw {
	background-color: #dddddd;
	border:1px solid black;	
}

.data {
	font-family: verdana, serif, Arial;
	font-size:24px;
	color: #0078a5;
}

.datacell {
	background-color: #dddddd;
	border: 1px solid silver;
	border-bottom: 5px solid silver;
}

.selectcell {
	text-align: right;
	cursor: pointer;
	background-color: #dddddd;
	border: 1px solid silver;
	border-bottom: 5px solid silver;
}

.selected {
	background-color: #d9eef7;
	border: 1px solid #0078a5;
	border-bottom: 5px solid #0078a5;
}

.unit {
	font-size: 14px;
}

.btn {
	cursor:pointer;
	font-size: 20px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3); 

	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);  
    box-shadow: 0 1px 2px rgba(0,0,0,.2);	
	
	color: #d9eef7;  
    border: solid 1px #0076a3;  
    background: #0095cd;  
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));  
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);  
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
    }

.topbtn {
	height: 48px;
}

.tips {
	font-size: 20px;
	color: #0078a5;
}

.title2 {
	font-family: 'Joti One', serif, Arial;
	font-size: 20px;
	color: black;
}

.title {
	font-family: 'Joti One', serif, Arial;
	font-size: 28px;
	font-weight: bold;
	color: blue;
}

img.appname {
	width: 240;
}

img.splash {
	width: 300;
}

.highlight {
	font-size: 24px;
	color: #0078a5;
}

img.navicon {
	width:32px;
	height:32px;
}


div.page {
	background-color: white;
}

